* {
    box-sizing: border-box;
    /* ESPACIAT TEXT */
    line-height: 1.5 !important;
    letter-spacing: 0.12em !important;
    word-spacing: 0.16em !important;
}

body {
    font-family: Rubik, Helvetica, Arial, sans-serif;
}

/* CAPÇALERA */

.capcalera {
    background-color: #fccda9;
    color: #562b0c;
    font-weight: bold;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* ANIMACIÓ LOGOTIP ENSAIMADA */

#ensaimada {
    animation: gir_infinit 10s infinite linear;
}

@keyframes gir_infinit {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.navbar {
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #562b0c;
    display: flex;
    justify-content: space-around;
}

#menu {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.navbar a {
    color: #f9eae1;
    padding: 10px;

    text-align: center;
}

/* PEU */

.peu {
    background-color: #fccda9;
    color: #562b0c;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.peu p a {
    color: #562b0c;
}

@media only screen and (max-width: 600px) {
    .navbar {
        flex-direction: column;
    }

    .navbar a {
        border-style: solid;
        border-color: white;
    }
}

@media only screen and (max-width: 768px) {
}
