.flex-container-1 {
    display: flex;
    background-color: DodgerBlue;
}

.flex-container-1 > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}

.flex-container-2 {
    display: flex;
    flex-direction: column;
    background-color: DodgerBlue;
}

.flex-container-2 > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}

.flex-container-3 {
    display: flex;
    flex-direction: column-reverse;
    background-color: DodgerBlue;
}

.flex-container-3 > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}

.flex-container-4 {
    display: flex;
    flex-direction: row;
    background-color: DodgerBlue;
}

.flex-container-4 > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}

.flex-container-5 {
    display: flex;
    flex-direction: row-reverse;
    background-color: DodgerBlue;
}

.flex-container-5 > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}

.flex-container-6 {
    display: flex;
    flex-wrap: wrap;
    background-color: DodgerBlue;
}

.flex-container-6 > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}

.flex-container-7 {
    display: flex;
    flex-wrap: nowrap;
    background-color: DodgerBlue;
}

.flex-container-7 > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}

.flex-container-8 {
    display: flex;
    flex-wrap: wrap-reverse;
    background-color: DodgerBlue;
}

.flex-container-8 > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}

.flex-container-9 {
    display: flex;
    flex-flow: row-reverse wrap;
    background-color: DodgerBlue;
}

.flex-container-9 > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}

.flex-container-10 {
    display: flex;
    
    justify-content: center;
    background-color: DodgerBlue;
}

.flex-container-10 > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}

.flex-container-11 {
    display: flex;
    justify-content: flex-start;
    background-color: DodgerBlue;
}

.flex-container-11 > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}

.flex-container-12 {
    display: flex;
    justify-content: flex-end;
    background-color: DodgerBlue;
}

.flex-container-12 > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}

.flex-container-13 {
    display: flex;
    justify-content: space-around;
    background-color: DodgerBlue;
}

.flex-container-13 > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}

.flex-container-14 {
    display: flex;
    justify-content: space-between;
    background-color: DodgerBlue;
}

.flex-container-14 > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}

.flex-container-15 {
    display: flex;
    align-items: center;
    height: 200px;
    background-color: DodgerBlue;
}

.flex-container-15 > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}

.flex-container-16 {
    display: flex;
    align-items: flex-start;
    height: 200px;
    background-color: DodgerBlue;
}

.flex-container-16 > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}

.flex-container-17 {
    display: flex;
    align-items: flex-end;
    height: 200px;
    background-color: DodgerBlue;
}

.flex-container-17 > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}

.flex-container-18 {
    display: flex;
    align-items: stretch;
    height: 200px;
    background-color: DodgerBlue;
}

.flex-container-18 > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}

.flex-container-19 {
    display: flex;
    align-items: baseline;
    height: 200px;
    background-color: DodgerBlue;
}

.flex-container-19 > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}

.flex-container-20 {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    height: 600px;
    background-color: DodgerBlue;
}

.flex-container-20 > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}

.flex-container-21 {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    height: 600px;
    background-color: DodgerBlue;
}

.flex-container-21 > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}

.flex-container-22 {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    height: 600px;
    background-color: DodgerBlue;
}

.flex-container-22 > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}

.flex-container-23 {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    height: 600px;
    background-color: DodgerBlue;
}

.flex-container-23 > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}

.flex-container-24 {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    height: 600px;
    background-color: DodgerBlue;
}

.flex-container-24 > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}

.flex-container-25 {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    height: 600px;
    background-color: DodgerBlue;
}

.flex-container-25 > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}

.flex-container-26 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-color: DodgerBlue;
}

.flex-container-26 > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}

.flex-container-27 {
    display: flex;
    background-color: DodgerBlue;
}

.flex-container-27 > div {
    background-color: #f1f1f1;

    color: DodgerBlue;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

.flex-container-28 {
    display: flex;
    height: 200px;
    background-color: DodgerBlue;
}

.flex-container-28 > div {
    background-color: #f1f1f1;

    color: DodgerBlue;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}
