body {
    margin: 0;
    font-family: "Work Sans", sans-serif;
    font-size: 21px;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    margin-bottom: 100px;
    position: relative;
    overflow: hidden;
    min-height: 60vh;
}

.video_bg {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
}

.info {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    max-width: 960px;
}

.row {
    display: flex;
}

.col {
    padding: 0 15px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgba(0, 0, 0, 0.2);
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0px;
    bottom: 0px;
    min-width: 100%;
    text-align: center;
    background: rgba(0, 0, 0, 0.6);
    font-weight: bold;
}
